*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;    
}

body{
    background-color: #2F2E4d;
    padding: 0;
    margin: 0;
   
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: .5rem 5rem;
}


a, li{
color: #ffffff;
    font-size:x-large;
    
}

nav{
    right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#cont{
    background: white;
border-radius: 96px;
width: 349.89px;
height: 500px;
left: 106.11px;
top: 200px;
padding: 14px;
}




#tabla-precios {
    display:inline-block;
    width:100%;
    margin-top:50px
   }
   
   /*Columnas*/
   
   .precio-col {
    display:inline-block;
    background-color:#f3f3f3;
    width:100%;
    max-width:500px;
    border-radius:20px;
    margin-bottom:50px;
    box-shadow: 0px 2px 5px #333
   }
   
   @media screen and (min-width:768px) {
    .precio-col {
    width:32%;
    float:left;
    margin-right:2%
    }
    
    .precio-col:last-child {
    margin-right:0
    }
   }
   
   /*Headers*/
   
   .precio-col-header {
    background-color:#333;
    padding:20px;
    border-top-left-radius:10px;
    border-top-right-radius:10px
   }
   
   .precio-col:nth-child(2) .precio-col-header {
    background-color:#333
   }
   
   .precio-col-header h3 {
    color:#f3f3f3;
    text-align:center;
    font-size:30px;
    font-weight:600;
    margin-bottom:0
   }
   
   .precio-col-header p {
    text-align:center;
    color:#f3f3f3;
    font-size:14px;
    margin-bottom:0
   }
   
   /*Características*/
   
   .precio-col-features {
    padding: 0 20px 20px 20px
   }
   
   .precio-col-features p {
    padding:20px 0;
    margin:0;
    text-align:center;
    border-top:1px 
   }
   
   .precio-col-features p:first-child,
   .precio-col-features p:last-child {
    border-top:none
   }
   
   /*Comprar*/
   
   .precio-col-comprar {
    padding:10px;
    max-width:250px;
    text-align:center;
    background-color:#333;
    margin: 0 auto 20px;
    border-radius:10px;
    border: 2px solid #333;
    transition: all 0.3s
   }
   
   .precio-col-comprar a {
    color:#f3f3f3;
    padding:10px;
    font-size:20px;
    text-transform:uppercase;
    transition: all 0.3s
   }
   
   .precio-col-comprar:hover {
    background-color:#f3f3f3;
    transition: all 0.3s
   }
   
   .precio-col-comprar:hover a {
    color:white;
    transition: all 0.3s
   }
